extends ../../layout/common.pug
block headerStatic
  link(rel='stylesheet', href='./dist/styles/my.css')
block content_common
  div(class='m-my test')
block footerStatic
  script(src='./dist/js/my.js')
  script(src='./dist/js/my.js')