extends ../../layout/common.pug
block headerStatic
  //- link(rel='stylesheet', href='./lib/css/video-js.min.css')
  //- link(rel='stylesheet', href='./lib/css/swiper.min.css')
  link(rel='stylesheet', href='./dist/styles/home.css')
block content_common
  div(class='m-home test')
block footerStatic
  script(src='./dist/js/common.js')
  script(src='./dist/js/home.js')