extends ../../layout/common.pug
block headerStatic
  link(rel='stylesheet', href='./dist/styles/home.css')
block content_common
  div(class='m-home test')
block footerStatic
  script(src='./dist/js/common.js')
  script(src='./dist/js/home.js')